@{
    ViewData["Title"] = "Панель администратора";
}

<h2>Админ-панель</h2>
<ul>
    <li><a href="@Url.Action("Index", "User", new { area = "Admin" })">Пользователи</a></li>
    <li> <a href="@Url.Action("Create", "User", new { area = "Admin" })">Добавить пользователя</a></li>

    <li>
        <a href="@Url.Action("Index", "Branch", new { area = "Admin" })">Филиалы</a>
    </li>
    <li> <a href="@Url.Action("Create", "Branch", new { area = "Admin" })">Добавить филиал</a></li>

    <li>
        <a href="@Url.Action("Index", "AdminReport", new { area = "Admin" })">Отчеты</a>
    </li>
    <li> <a href="@Url.Action("Create", "AdminReport", new { area = "Admin" })">Добавить отчет</a></li>

    <li>
        <a href="@Url.Action("Index", "AdminReportTemplate", new { area = "Admin" })">Шаблоны отчетов</a>
    </li>
    <li>  <a href="@Url.Action("Create", "AdminReportTemplate", new { area = "Admin" })">Добавить шаблон</a></li>
</ul>