@model IEnumerable<Core.Entities.Branch>

@{
    ViewData["Title"] = "Филиалы";
}

<div class="container">
    <h1>Список филиалов</h1>
    <a href="@Url.Action("Create", "Branch")" class="btn btn-primary mb-3">Добавить филиал</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Название</th>
                <th>УНП</th>
                <th>Регион</th>
                <th>Электронная почта</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in Model)
            {
                <tr>
                    <td>@branch.Id</td>
                    <td>@branch.Name</td>
                    <td>@branch.UNP</td>
                    <td>@branch.Region</td>
                    <td>@branch.Email</td>
                    <td>
                        <a href="@Url.Action("Edit", "Branch", new { id = branch.Id })" class="btn btn-warning">Редактировать</a>
                        <a href="@Url.Action("Delete", "Branch", new { id = branch.Id })" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>